
//////////////////////////////////////////////////////////
// BASE DEFAULTS /////////////////////////////////////////
//////////////////////////////////////////////////////////
$uni-btn-namespace: '.button'; //prefix for all classes
$uni-btn-glow-namespace: '.glow';
$uni-btn-glow-color: #2c9adb;
$uni-btn-bgcolor: #EEE;
$uni-btn-height: 32px;


//////////////////////////////////////////////////////////
// TYPOGRAPHY ////////////////////////////////////////////
//////////////////////////////////////////////////////////
$uni-btn-font-color: #666;
$uni-btn-font-size: 14px;
$uni-btn-font-weight: 300;
$uni-btn-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


//////////////////////////////////////////////////////////
// BUTTON OPTIONS ////////////////////////////////////////
//////////////////////////////////////////////////////////

// (name background-color font-color) add as many as you like.
$uni-btn-actions: ('primary' #00A1CB #FFF) ('action' #7db500 #FFF) ('highlight' #F18D05 #FFF)('caution' #E54028 #FFF) ('royal' #87318C #FFF);
// Remove any type to omit from final CSS build
$uni-btn-types: 'rounded' 'pill' 'circle' 'dropdown' 'glow' 'flat';
$uni-btn-sizes: 'large' 'small' 'tiny';
$uni-btn-circle-size: 120px; //radius for circle buttons, circles only have one size


//////////////////////////////////////////////////////////
// DROPDOWN OPTIONS //////////////////////////////////////
//////////////////////////////////////////////////////////
$uni-btn-dropdown-background: #fcfcfc;
$uni-btn-dropdown-link-color: #333;
$uni-btn-dropdown-link-hover: #FFF;
$uni-btn-dropdown-link-hover-background: #3c6ab9;

/// PLEASE DO NOT REMOVE FOLLOWING IMPORT! ///
@import 'build-types';

